.btn{
    background-color: white;
    font-size: large;
    border-radius:25px;
    border: 3px solid black;
    font-weight: bold;
    display: block;
    margin: auto;
    width:14%;
    height:6vh;
    cursor: pointer;
}
.btn:Hover{
    background-color: yellow;
}
.shape>input{
    border-radius: 4px;
    margin: 4px;
    width: 6rem;
    height: 2.5rem;
    padding: 5px;
    font-size: 23px;
    text-align: center;
    border: 1px solid black;
}
.delete{
    cursor: pointer;
    color: red;
}
.table>tr>th{
    font-size: large;
    font-weight: bolder;
    text-align: center;
    width: 50%;
}